.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm >label{
    margin: 10px 0;
}

.registerFormInput{
    padding: 10px;
    /* height: 50px; */
    background-color: rgb(232, 236, 236);
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    padding: 10px;
    border: none;
    color: azure;
    border-radius: 10px;
}

